<p>Chào {{ emp.FullName }},</p>
<p>Đây là bảng lương tháng {{ salary.SalaryMonth.strftime('%Y-%m') }}:</p>
<ul>
  <li>
    <strong>Lương cơ bản:</strong> {{ "{:,.0f}".format(salary.BaseSalary) }} VND
  </li>
  <li><strong>Thưởng:</strong> {{ "{:,.0f}".format(salary.Bonus) }} VND</li>
  <li>
    <strong>Khấu trừ:</strong> {{ "{:,.0f}".format(salary.Deductions) }} VND
  </li>
  <li>
    <strong>Lương thực nhận:</strong> {{ "{:,.0f}".format(salary.NetSalary) }}
    VND
  </li>
</ul>
<p>Trân trọng,<br />Phòng Nhân sự</p>
